body{
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif;
	color: #219FD1;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}

#form{
	max-width: 450px;
	padding: 19px 29px 8px;
	margin: 10px auto;
	background-color: #fff;
        border: 2px solid #ddd;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);

}

fieldset.scheduler-border {
    border: 2px dotted #ddd !important;
    padding: 22px !important;
    margin: 10px 0 24px 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

figure#img{
    margin-top: 20px;
}

#alerta {
    max-width: 450px;
    margin: 30px auto;
    padding-bottom: 1%;
    height: 30px;
}